{% extends 'questionbase/base.html' %}
{% block content %}

{% for quest in questions %}
<div class="col-xs-12 col-md-8">
    <div class="panel panel-default">
        <div class="panel-body">


            {% if quest.wow == 'WOW' %}
            <span class="label label-success"><span class="glyphicon glyphicon-thumbs-up"></span></span>
            {% elif quest.wow == 'FOO' %}
            <span class="label label-danger"><span class="glyphicon glyphicon-thumbs-down"></span></span>
            {% endif %}

            <strong>Вопрос: </strong>{{ quest.qtext|linebreaksbr }}</p>

            <ul class="no-marker">
                {% for link, type, i in quest.ext_q_list %}
                {% if type == 'img' %}
                <li><a href="#" data-toggle="modal" data-target=".bs-qimg{{i}}{{ quest.pk }}-modal-lg">
                    <img src="/{{ link }}" class="img-thumbnail" style="height: 150px;" alt="упс, картинка потерялась"></a>
                </li>
                <div class="modal fade bs-qimg{{i}}{{ quest.pk }}-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <img src="/{{ link }}" class="responsive-img" alt="упс, картинка потерялась">
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if type == 'video' %}
                <li>
                    <video src="/{{ link }}" height="200" controls alt="упс, видео потерялось"></video>
                </li>
                {% endif %}
                {% if type == 'audio' %}
                <li>
                    <audio src="/{{ link }}" controls alt="упс, музыка потерялось"></audio>
                </li>
                {% endif %}
                {% if type == 'other' %}
                <li><span class="glyphicon glyphicon-paperclip"></span> {{ link }}</li>
                {% endif %}
                {% endfor %}
            </ul>

            <p><strong>Ответ: </strong>{{ quest.answer|linebreaksbr }}</p>
            <ul class="no-marker">
                {% for link, type, i in quest.ext_a_list %}
                {% if type == 'img' %}
                <li><a href="#" data-toggle="modal" data-target=".bs-aimg{{i}}{{ quest.pk }}-modal-lg">
                    <img src="/{{ link }}" class="img-thumbnail" style="height: 150px;" alt="упс, картинка потерялась"></a>
                </li>
                <div class="modal fade bs-aimg{{i}}{{ quest.pk }}-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <img src="/{{ link }}" class="responsive-img" alt="упс, картинка потерялась">
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if type == 'video' %}
                <li>
                    <video src="/{{ link }}" height="200" controls alt="упс, видео потерялось"></video>
                </li>
                {% endif %}
                {% if type == 'audio' %}
                <li>
                    <audio src="/{{ link }}" controls alt="упс, музыка потерялось"></audio>
                </li>
                {% endif %}
                {% if type == 'other' %}
                <li><span class="glyphicon glyphicon-paperclip"></span> {{ link }}</li>
                {% endif %}
                {% endfor %}
            </ul>

            <div id="qmore{{ quest.pk }}" class="collapse">
                {% if quest.altanswer %}
                <p><strong>Зачет: </strong>{{ quest.altanswer|linebreaksbr }}</p>
                {% endif %}
                <p><strong>Комментарий: </strong>{{ quest.comment|linebreaksbr }}</p>
                <p><strong>Автор: </strong>{{ quest.author|linebreaksbr }}</p>
                <p><strong>Источник: </strong>{{ quest.source|linebreaksbr }}</p>
                {% if quest.is_played %}
                <p>Игралось!</p>
                {% endif %}
                {% if quest.is_bb %}
                <p>Черный ящик!</p>
                {% endif %}
            </div>

            <div class="row">
                <div class="pull-left margin10">
                    <a href="#qmore{{ quest.pk }}" data-toggle="collapse"><span class="btn btn btn-default">подробнее <span class="caret"></span></span></a>
                    <a href="{% url 'quest_edit' pk=quest.pk %}"><span class="btn btn btn-default">редактировать</span></a>
                </div>
                <div class="pull-right margin10">
                    <a href="{% url 'quest_restore' pk=quest.pk %}">
                        <span class="btn btn btn-success">Отменить удаление</span></a>
                    <a href="{% url 'delete_forever' pk=quest.pk %}" class="delete" data-confirm="Уверены, что хотите удалить этот вопрос навсегда?">
                        <span class="btn btn btn-danger">Удалить навсегда</span></a>
                </div>
            </div>
        </div><!-- panel-body-->
    </div><!-- panel-default or panel-primary-->
</div>
{% endfor %}



<script>
var deleteLinks = document.querySelectorAll('.delete');

for (var i = 0; i < deleteLinks.length; i++) {
  deleteLinks[i].addEventListener('click', function(event) {
      event.preventDefault();

      var choice = confirm(this.getAttribute('data-confirm'));

      if (choice) {
        window.location.href = this.getAttribute('href');
      }
  });
}
</script>

{% endblock %}