{% extends 'questionbase/base.html' %}
{% block content %}

{% if 'viewers' not in user.groups.all|stringformat:"s" %}
<div class="col-xs-12 col-sm-10 col-md-10">

    {% for pkg in pkgs %}
        <a href="{% url 'pkg_detail' pkg.id %}">
            <div class="panel panel-info" id="p{{ pkg.id }}">
                <div class="panel-body">
                    {% if pkg.is_done %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% endif %}

                    <span class="label label-primary" style="font-size: 16px;">{{ pkg.pkg_detail.count }}</span>
                    {{ pkg.name}}
                    {% if 'viewers' not in user.groups.all|stringformat:"s" %}
                    {% endif %}

                </div>
            </div>
        </a>
    {% endfor %}


</div><!-- col-md-8-->

{% endif %}

{% endblock %}

{% block javascript %}
<script>
var deleteLinks = document.querySelectorAll('.delete');

for (var i = 0; i < deleteLinks.length; i++) {
  deleteLinks[i].addEventListener('click', function(event) {
      event.preventDefault();

      var choice = confirm(this.getAttribute('data-confirm'));

      if (choice) {
        window.location.href = this.getAttribute('href');
      }
  });
}
</script>
{% endblock %}