{% extends 'questionbase/base.html' %}

{% block content %}
<div class="container">

    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% for error in form.non_field_errors %}
            <div class="form-group has-errors text-danger small">
                {{error}}
            </div>
            {% endfor %}
        </div>
        {% for field in form %}
        <div class="row">
            <div class="col-md-2">
                {{ field.label_tag }}
            </div>
            <div class="col-md-6">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="pull-left margin10">
                <button type="submit" name="submit_new" class="btn btn-primary ">Сохранить и добавить новый вопрос</button>
            </div>
            <div class="pull-left margin10">
                <button type="submit" name="submit_edit" class="btn btn-primary ">Сохранить и продолжить редактирование</button>
            </div>
            <div class="pull-left margin10">
                <button type="submit" name="submit_exit" class="btn btn-primary ">Сохранить</button>
            </div>
            <div class="pull-left margin10">
                <a href="{% url 'quest_list' %}"><span class="btn btn-default">Отменить</span></a>
            </div>
        </div>

    </form>
</div>
{% endblock %}
