{% extends 'questionbase/base.html' %}

{% block content %}

{% if user.username != 'view' %}
<div class="container">

    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% for error in form.non_field_errors %}
            <div class="form-group has-errors text-danger small">
                {{error}}
            </div>
            {% endfor %}
        </div>
        {% for field in form %}
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2">
                {{ field.label_tag }}
            </div>
            <div class="col-xs-12 col-sm-9 col-md-8">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <div class="pull-left margin10">
                <button type="submit" name="submit_new" class="btn btn-primary ">Сохранить и добавить новый вопрос</button>
                <button type="submit" name="submit_edit" class="btn btn-primary ">Сохранить и продолжить редактирование</button>
                <button type="submit" name="submit_exit" class="btn btn-primary ">Сохранить</button>
                <a href="{% url 'search' %}?{{ request.session.search_query }}"><span class="btn btn-default">Отменить</span></a>
            </div>
        </div>

    </form>
</div>
{% endif %}

{% endblock %}
