{% extends 'questionbase/base.html' %}

{% block content %}
<div class="col-xs-12 col-md-8">
    <div class="panel panel-default">
        <div class="panel-body">

            <form method="get">

                <div class="row">
                    <div style="margin-left: 15px; margin-right: 15px; margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.search }}
                    </div>
                </div>
                <div class="row">
                    <div style="margin-left: 15px; margin-right: 15px; margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.author }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-md-2" style="margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.q_has_img.label_tag }}
                    </div>
                    <div class="col-xs-3 col-md-2" style="margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.q_has_img }}
                    </div>
                    <div class="col-xs-2 col-md-2 col-md-offset-1" style="margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.q_has_video.label_tag }}
                    </div>
                    <div class="col-xs-3 col-md-2" style="margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.q_has_video }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-md-2" style="margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.q_has_audio.label_tag }}
                    </div>
                    <div class="col-xs-3 col-md-2" style="margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.q_has_audio }}
                    </div>
                    <div class="col-xs-2 col-md-2 col-md-offset-1" style="margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.q_has_media.label_tag }}
                    </div>
                    <div class="col-xs-3 col-md-2" style="margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.q_has_media }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-md-2" style="margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.is_played.label_tag }}
                    </div>
                    <div class="col-xs-3 col-md-2" style="margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.is_played }}
                    </div>
                    <div class="col-xs-2 col-md-2 col-md-offset-1" style="margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.is_bb.label_tag }}
                    </div>
                    <div class="col-xs-3 col-md-2" style="margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.is_bb }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 col-md-2" style="margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.wow.label_tag }}
                    </div>
                    <div class="col-xs-3 col-md-2" style="margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.wow }}
                    </div>
                    <div class="col-xs-2 col-md-2 col-md-offset-1" style="margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.o.label_tag }}
                    </div>
                    <div class="col-xs-3 col-md-2" style="margin-top: 1px; margin-bottom: 1px;">
                        {{ filter.form.o }}
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="pull-left margin10">
                        <button type="submit" name="find-btn" class="btn btn-primary">Поиск</button>
                        <a href="{% url 'search' %}?cancel-btn=" ><span class="btn btn-default">Очистить поиск</span></a>
                    </div>
                    <div class="pull-right margin10">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                вопросов на странице <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% if request.session.q_per_page == 1 %}<li class="active">{% else %}<li>{% endif %}
                                <a href="{% url 'search' %}?cou=1&{{ request.session.search_query }}">1</a></li>
                                {% if request.session.q_per_page == 10 %}<li class="active">{% else %}<li>{% endif %}
                                <a href="{% url 'search' %}?cou=10&{{ request.session.search_query }}">10</a></li>
                                {% if request.session.q_per_page == 20 %}<li class="active">{% else %}<li>{% endif %}
                                <a href="{% url 'search' %}?cou=20&{{ request.session.search_query }}">20</a></li>
                                {% if request.session.q_per_page == 50 %}<li class="active">{% else %}<li>{% endif %}
                                <a href="{% url 'search' %}?cou=50&{{ request.session.search_query }}">50</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    {% for quest in questions %}

    <div class="panel panel-default">
        <div class="panel-body">
            {% if quest.q_has_img %}
            <span class="glyphicon glyphicon-picture"></span>
            {% endif %}
            {% if quest.q_has_video %}
            <span class="glyphicon glyphicon-facetime-video"></span>
            {% endif %}
            {% if quest.q_has_audio %}
            <span class="glyphicon glyphicon-volume-up"></span>
            {% endif %}
            <p>
            {% if quest.wow == 'WOW' %}
            <span class="label label-success"><span class="glyphicon glyphicon-thumbs-up"></span></span>
            {% elif quest.wow == 'FOO' %}
            <span class="label label-danger"><span class="glyphicon glyphicon-thumbs-down"></span></span>
            {% endif %}

            <strong>Вопрос: </strong>{{ quest.qtext|linebreaksbr }}</p>

            <ul class="no-marker">
                {% for link, type, i in quest.ext_q_list %}
                {% if type == 'img' %}
                <li><a href="#" data-toggle="modal" data-target=".bs-qimg{{i}}{{ quest.pk }}-modal-lg">
                    <img src="/{{ link }}" class="img-thumbnail" style="height: 150px;" alt="упс, картинка потерялась"></a>
                </li>
                <div class="modal fade bs-qimg{{i}}{{ quest.pk }}-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <img src="/{{ link }}" class="responsive-img" alt="упс, картинка потерялась">
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if type == 'video' %}
                <li>
                    <video src="/{{ link }}" height="200" controls alt="упс, видео потерялось"></video>
                </li>
                {% endif %}
                {% if type == 'audio' %}
                <li>
                    <audio src="/{{ link }}" controls alt="упс, музыка потерялось"></audio>
                </li>
                {% endif %}
                {% if type == 'other' %}
                <li><span class="glyphicon glyphicon-paperclip"></span> {{ link }}</li>
                {% endif %}
                {% endfor %}
            </ul>

            <p><strong>Ответ: </strong>{{ quest.answer|linebreaksbr }}</p>
            <ul class="no-marker">
                {% for link, type, i in quest.ext_a_list %}
                {% if type == 'img' %}
                <li><a href="#" data-toggle="modal" data-target=".bs-aimg{{i}}{{ quest.pk }}-modal-lg">
                    <img src="/{{ link }}" class="img-thumbnail" style="height: 150px;" alt="упс, картинка потерялась"></a>
                </li>
                <div class="modal fade bs-aimg{{i}}{{ quest.pk }}-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <img src="/{{ link }}" class="responsive-img" alt="упс, картинка потерялась">
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if type == 'video' %}
                <li>
                    <video src="/{{ link }}" height="200" controls alt="упс, видео потерялось"></video>
                </li>
                {% endif %}
                {% if type == 'audio' %}
                <li>
                    <audio src="/{{ link }}" controls alt="упс, музыка потерялось"></audio>
                </li>
                {% endif %}
                {% if type == 'other' %}
                <li><span class="glyphicon glyphicon-paperclip"></span> {{ link }}</li>
                {% endif %}
                {% endfor %}
            </ul>

            <div id="qmore{{ quest.pk }}" class="collapse">
                {% if quest.altanswer %}
                <p><strong>Зачет: </strong>{{ quest.altanswer|linebreaksbr }}</p>
                {% endif %}
                <p><strong>Комментарий: </strong>{{ quest.comment|linebreaksbr }}</p>
                <p><strong>Автор: </strong>{{ quest.author|linebreaksbr }}</p>
                <p><strong>Источник: </strong>{{ quest.source|linebreaksbr }}</p>
                {% if quest.is_played %}
                <p>Игралось!</p>
                {% endif %}
                {% if quest.is_bb %}
                <p>Черный ящик!</p>
                {% endif %}
            </div>

            <div class="row">
                <div class="pull-left margin10">
                    <a href="#qmore{{ quest.pk }}" data-toggle="collapse"><span class="btn btn btn-default">подробнее <span class="caret"></span></span></a>
                    <a href="{% url 'quest_edit' pk=quest.pk %}"><span class="btn btn btn-default">редактировать</span></a>
                </div>
                <div class="pull-right margin10">
                    <a href="{% url 'quest_remove' pk=quest.pk %}" class="delete" data-confirm="Уверены, что хотите удалить этот вопрос?">
                        <span class="btn btn btn-danger">Удалить</span></a>
                </div>
            </div>
        </div><!-- panel-body-->
    </div><!-- panel-default or panel-primary-->
    {% endfor %}


    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if questions.has_previous %}
            <li><a href="?page={{ questions.previous_page_number }}&{{ request.session.search_query }}">previous</a></li>
            {% endif %}

            {% for i in questions.paginator.page_range %}
                {% with border1=questions.number|add:-5 border2=questions.number|add:5 %}
                {% if i > border1 and i < border2 or i == 1 or i == questions.paginator.num_pages %}
                    {% if questions.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}&{{ request.session.search_query }}">{{ i }}</a></li>
                    {% endif %}
                {% else %}
                    {% if i == border1 or i == border2 %}
                        <li><span aria-hidden="true">...</span></li>
                    {% endif %}
                {% endif %}
                {% endwith %}
            {% endfor %}

            {% if questions.has_next %}
            <li><a href="?page={{ questions.next_page_number }}&{{ request.session.search_query }}">next</a></li>
            {% endif %}
        </ul>
    </nav>

</div><!-- col-md-8-->


<script>
var deleteLinks = document.querySelectorAll('.delete');

for (var i = 0; i < deleteLinks.length; i++) {
  deleteLinks[i].addEventListener('click', function(event) {
      event.preventDefault();

      var choice = confirm(this.getAttribute('data-confirm'));

      if (choice) {
        window.location.href = this.getAttribute('href');
      }
  });
}
</script>


{% endblock %}