{% extends 'questionbase/base.html' %}

{% block content %}

<div class="col-xs-12 col-sm-12 col-md-9">
    <div class="panel panel-default">
        <div class="panel-body">
            {% include 'questionbase/search_filters.html' %}
        </div>
    </div>

    {% for quest in questions %}
        {% include 'questionbase/quest_list.html' %}
    {% endfor %}


    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if questions.has_previous %}
            <li><a href="?page={{ questions.previous_page_number }}&{{ request.session.search_query }}">previous</a></li>
            {% endif %}

            {% for i in questions.paginator.page_range %}
                {% with border1=questions.number|add:-5 border2=questions.number|add:5 %}
                {% if i > border1 and i < border2 or i == 1 or i == questions.paginator.num_pages %}
                    {% if questions.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}&{{ request.session.search_query }}">{{ i }}</a></li>
                    {% endif %}
                {% else %}
                    {% if i == border1 or i == border2 %}
                        <li><span aria-hidden="true">...</span></li>
                    {% endif %}
                {% endif %}
                {% endwith %}
            {% endfor %}

            {% if questions.has_next %}
            <li><a href="?page={{ questions.next_page_number }}&{{ request.session.search_query }}">next</a></li>
            {% endif %}
        </ul>
    </nav>

</div><!-- col-md-8-->


<script>
var deleteLinks = document.querySelectorAll('.delete');

for (var i = 0; i < deleteLinks.length; i++) {
  deleteLinks[i].addEventListener('click', function(event) {
      event.preventDefault();

      var choice = confirm(this.getAttribute('data-confirm'));

      if (choice) {
        window.location.href = this.getAttribute('href');
      }
  });
}
</script>


{% endblock %}