            <!-- <a href="#q{{ quest.id }}">тыц</a> -->
            {% if quest.is_blitz %}<span class="glyphicon glyphicon-menu-hamburger"></span>{% endif %}
            {% if quest.wow == 'WOW' %}
                <span class="label label-success"><span class="glyphicon glyphicon-thumbs-up"></span></span>
            {% elif quest.wow == 'FOO' %}
                <span class="label label-danger"><span class="glyphicon glyphicon-thumbs-down"></span></span>
            {% endif %}
            {% if quest.is_bb %}<span class="glyphicon glyphicon-folder-close"></span>{% endif %}
            {% if quest.q_has_img %}<span class="glyphicon glyphicon-picture"></span>{% endif %}
            {% if quest.q_has_video %}<span class="glyphicon glyphicon-facetime-video"></span>{% endif %}
            {% if quest.q_has_audio %}<span class="glyphicon glyphicon-volume-up"></span>{% endif %}

            {{ quest.question_in_pkg.package }}

            <strong>Вопрос: </strong>{{ quest.qtext|linebreaksbr }}

            <ul class="no-marker">
                {% for link, type, i in quest.ext_q_list %}
                {% if type == 'img' %}
                <li><a href="#" data-toggle="modal" data-target=".bs-qimg{{i}}{{ quest.pk }}-modal-lg">
                    <img src="{{ MEDIA_URL }}{{ link }}" class="img-thumbnail" style="height: 150px;" alt="упс, картинка потерялась"></a>
                </li>
                <div class="modal fade bs-qimg{{i}}{{ quest.pk }}-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <img src="{{ MEDIA_URL }}{{ link }}" class="responsive-img" alt="упс, картинка потерялась">
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if type == 'video' %}
                <li>
                    <video src="{{ MEDIA_URL }}{{ link }}" height="200" controls alt="упс, видео потерялось"></video>
                </li>
                {% endif %}
                {% if type == 'audio' %}
                <li>
                    <audio src="{{ MEDIA_URL }}{{ link }}" controls alt="упс, музыка потерялось"></audio>
                </li>
                {% endif %}
                {% if type == 'other' %}
                <li><span class="glyphicon glyphicon-paperclip"></span> {{ link }}</li>
                {% endif %}
                {% endfor %}
            </ul>

            {% if request.session.with_answers == 'True' %}
            <strong>Ответ: </strong>{{ quest.answer|linebreaksbr }}
            <ul class="no-marker">
                {% for link, type, i in quest.ext_a_list %}
                {% if type == 'img' %}
                <li><a href="#" data-toggle="modal" data-target=".bs-aimg{{i}}{{ quest.pk }}-modal-lg">
                    <img src="{{ MEDIA_URL }}{{ link }}" class="img-thumbnail" style="height: 150px;" alt="упс, картинка потерялась"></a>
                </li>
                <div class="modal fade bs-aimg{{i}}{{ quest.pk }}-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <img src="{{ MEDIA_URL }}{{ link }}" class="responsive-img" alt="упс, картинка потерялась">
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if type == 'video' %}
                <li>
                    <video src="{{ MEDIA_URL }}{{ link }}" height="200" controls alt="упс, видео потерялось"></video>
                </li>
                {% endif %}
                {% if type == 'audio' %}
                <li>
                    <audio src="{{ MEDIA_URL }}{{ link }}" controls alt="упс, музыка потерялось"></audio>
                </li>
                {% endif %}
                {% if type == 'other' %}
                <li><span class="glyphicon glyphicon-paperclip"></span> {{ link }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            <div id="qmore1{{ quest.pk }}" class="collapse">
                {% if quest.altanswer %}
                <p><strong>Зачет: </strong>{{ quest.altanswer|linebreaksbr }}</p>
                {% endif %}
                {% if quest.comment %}
                <p><strong>Комментарий: </strong>{{ quest.comment|linebreaksbr }}</p>
                {% endif %}
                <p><strong>Автор: </strong>{{ quest.author|linebreaksbr }}</p>
                {% if quest.source %}
                <p><strong>Источник: </strong>{{ quest.source|linebreaksbr|urlizetrunc:75 }}</p>
                {% endif %}
                <p><strong>Пакеты: </strong></p>
                <ul id="p_pkg_list_bmore1{{ quest.pk }}"></ul>
            </div>
            {% else %}
            <div id="qmore2{{ quest.pk }}" class="collapse">
                <p><strong>Ответ: </strong>{{ quest.answer|linebreaksbr }}</p>
                <ul class="no-marker">
                    {% for link, type, i in quest.ext_a_list %}
                    {% if type == 'img' %}
                    <li><a href="#" data-toggle="modal" data-target=".bs-aimg{{i}}{{ quest.pk }}-modal-lg">
                        <img src="{{ MEDIA_URL }}{{ link }}" class="img-thumbnail" style="height: 150px;" alt="упс, картинка потерялась"></a>
                    </li>
                    <div class="modal fade bs-aimg{{i}}{{ quest.pk }}-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <img src="{{ MEDIA_URL }}{{ link }}" class="responsive-img" alt="упс, картинка потерялась">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if type == 'video' %}
                    <li>
                        <video src="{{ MEDIA_URL }}{{ link }}" height="200" controls alt="упс, видео потерялось"></video>
                    </li>
                    {% endif %}
                    {% if type == 'audio' %}
                    <li>
                        <audio src="{{ MEDIA_URL }}{{ link }}" controls alt="упс, музыка потерялось"></audio>
                    </li>
                    {% endif %}
                    {% if type == 'other' %}
                    <li><span class="glyphicon glyphicon-paperclip"></span> {{ link }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% if quest.altanswer %}
                <p><strong>Зачет: </strong>{{ quest.altanswer|linebreaksbr }}</p>
                {% endif %}
                {% if quest.comment %}
                <p><strong>Комментарий: </strong>{{ quest.comment|linebreaksbr }}</p>
                {% endif %}
                <p><strong>Автор: </strong>{{ quest.author|linebreaksbr }}</p>
                {% if quest.source %}
                <p><strong>Источник: </strong>{{ quest.source|linebreaksbr|urlizetrunc:75 }}</p>
                {% endif %}
                <p><strong>Пакеты: </strong></p>
                <ul id="p_pkg_list_bmore2{{ quest.pk }}"></ul>
            </div>
            {% endif %}



