{% extends 'questionbase/base.html' %}

{% block content %}

<div class="col-xs-12 col-sm-12 col-md-9">
    <div class="panel panel-default">
        <div class="panel-body">
            {% include 'questionbase/search_filters.html' %}
        </div>
    </div>

    {% for quest in questions %}


        <div class="panel panel-info" id="q{{ quest.id }}">
        {% if quest.is_played %}
            <div class="panel-heading">
        {% else %}
            <div class="panel-body">
        {% endif %}

                {% include 'questionbase/quest_list.html' %}

                <div class="row">
                    <div class="pull-left margin10">

                        {% if not request.session.work_pkg_id %}
                        {% elif quest.id in q_in_pkg_list %}
                        <button class="btn btn-success disabled" title="уже в пакете"><span class="glyphicon glyphicon-ok"></span></button>
                        {% elif quest.id not in q_in_pkg_list %}
                        <button class="btn btn-default add_to_pkg" title="добавить в пакет" name="{{ quest.id }}" id="id_add_to_pkg{{ quest.id }}"><span class="glyphicon glyphicon-plus"></span></button>
                        {% endif %}


                        {% if request.session.with_answers == 'True' %}
                            <a href="#qmore1{{ quest.pk }}" data-toggle="collapse" class="more" id="bmore1{{ quest.pk }}"><span class="btn btn btn-default">подробнее <span class="caret"></span></span></a>
                        {% else %}
                            <a href="#qmore2{{ quest.pk }}" data-toggle="collapse" class="more" id="bmore2{{ quest.pk }}"><span class="btn btn btn-default">подробнее <span class="caret"></span></span></a>
                        {% endif %}
                        {% if 'viewers' not in user.groups.all|stringformat:"s" %}
                            <a href="{% url 'quest_edit' pk=quest.pk %}?from={{ current_path|urlencode }}"><span class="btn btn btn-default">редактировать</span></a>
                        {% endif %}
                    </div>
                    {% if 'viewers' not in user.groups.all|stringformat:"s" %}
                    <div class="pull-right margin10">
                        <a href="{% url 'quest_remove' pk=quest.pk %}" class="delete" data-confirm="Уверены, что хотите удалить этот вопрос?">
                            <span class="btn btn btn-danger">Удалить</span></a>
                    </div>
                    {% endif %}
                </div>


            </div><!-- panel-body-->
        </div><!-- panel-default or panel-primary-->

    {% endfor %}


    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if questions.has_previous %}
            <li><a href="?page={{ questions.previous_page_number }}&{{ request.session.search_query }}">previous</a></li>
            {% endif %}

            {% for i in questions.paginator.page_range %}
                {% with border1=questions.number|add:-5 border2=questions.number|add:5 %}
                {% if i > border1 and i < border2 or i == 1 or i == questions.paginator.num_pages %}
                    {% if questions.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}&{{ request.session.search_query }}">{{ i }}</a></li>
                    {% endif %}
                {% else %}
                    {% if i == border1 or i == border2 %}
                        <li><span aria-hidden="true">...</span></li>
                    {% endif %}
                {% endif %}
                {% endwith %}
            {% endfor %}

            {% if questions.has_next %}
            <li><a href="?page={{ questions.next_page_number }}&{{ request.session.search_query }}">next</a></li>
            {% endif %}
        </ul>
    </nav>

</div><!-- col-md-8-->

{% endblock %}


{% block javascript %}
<script>
var deleteLinks = document.querySelectorAll('.delete');

for (var i = 0; i < deleteLinks.length; i++) {
  deleteLinks[i].addEventListener('click', function(event) {
      event.preventDefault();

      var choice = confirm(this.getAttribute('data-confirm'));

      if (choice) {
        window.location.href = this.getAttribute('href');
      }
  });
}
</script>




<script>
    $(".add_to_pkg").click(function () {
        var q_id = $(this).attr('name');

        $.ajax({
            url: '/add_quest_to_pkg/',
            data: {
                'q_id': q_id
            },
            dataType: 'json',
            success: function (data) {
                if (data.cou) {
                    //alert(data.cou, data.cou1);

                }

            }
        });
        $(this).toggleClass("btn-default add_to_pkg btn-success disabled");
        $(this).empty();
        $(this).append('<span class="glyphicon glyphicon-ok"></span>')
        $(this).attr('title', 'уже в пакете');
    });
</script>
{% endblock %}