{% extends "questionbase/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="POST" class="post-form" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-4 col-md-4" style="margin-top: 1px; margin-bottom: 1px;">
                            {{ form.username.label_tag }}
                        </div>
                        <div class="col-xs-2 col-md-2" style="margin-top: 1px; margin-bottom: 1px;">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-md-4" style="margin-top: 1px; margin-bottom: 1px;">
                            {{ form.password.label_tag }}
                        </div>
                        <div class="col-xs-2 col-md-2" style="margin-top: 1px; margin-bottom: 1px;">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="row"style="margin-top: 10px; margin-bottom: 1px;margin-left: 15px;margin-right: 15px;">
                        <button type="submit" class="btn btn-primary fullwidth">login</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}